body{
	width: 100%;
	margin: auto;
	float: left;
}
* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

main {
	overflow: auto;
}

nav,#logo footer {
	margin: 0;
	float: center;
}

li {
	display: inline;
	padding: 30px;
}
p{
	width: 100%;
	margin: 20px;
	float: left
}


#logo{
	padding: 100px;
}

bodyb{
	width: 100%;
	margin: 20px;
	float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding-top: 10px;
}
			
.column1, .column2, .column3{
	width: 31.3%;
	float: left;
	margin: 1%;
}

.column3{
margin-right: 0%;
}
		
nav {
	background-color: #EBDDDD;
	width:100%;
	padding: 1px;
}

footer {
	background-color: #efefef;
	padding: 10px;
}

#feature, article {
	height: 250px;
	margin-bottom: 1%;
	background-color: #efefef;
}
p style="text-align:right"
