body{
	width: 100%;
	font-size: 12pt;
	margin: auto;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
  background-image: url(../amidulce_image/bg.jpg);
}
* {
	color: #616161;
	text-align: center;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

main {
	overflow: auto;
}

nav, #logo footer {
	margin: 0;
	float: center;
	text-decoration-color: black;
}
nav {
  background-color: #EBDDDD;
  width:100%;
  padding: 1px;
}

li {
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
}
p{
	width: 100%;
	padding-left: 30px;
	padding-right:30px;
}
p.welcome{
	width: 100%;
	padding-left: 200px;
	padding-right:200px;
	text-align: center;
	font-size: 20px;
}
p.product{
  width: 100%;
  padding-left: 200px;
  margin-top: none;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color:#FFA4F0;
}

p.detail{
  width: 100%;
  padding-left: 220px;
  padding-right:30px; 
  padding-top: none;
  margin-top: none;
  padding-bottom: 10px;
  text-align: left;
  font-size: 18px; 
}

#logo{
	padding: 80px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  font-size: 18px;
}
p.footer{
  width: 100%;
  padding-left: 200px;
  padding-right:200px;
  text-align: center;
  font-size: 16px;
}
footer {
	background-color: #efefef;
	padding: 1px;
}

#feature, article {
	height: 250px;
	margin-bottom: 1%;
	background-color: #efefef;
}
div.gallery {
  display: inline;
  margin: 5px; 
  border: 1px;
  float: left;
  width: 310px;
  padding: 1px;
}

div.gallery img {
  width: 100%;
  height: auto;
}
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  background-image: url(Amidulce_images/bg.jpg);
  position: relative;
  margin: none;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.mainNav{
  width: 100%;
  z-index: 1000;
}

.mainNav a:hover {
  background-color: white;
}

.mainNav .icon{
  display: none;
}

@media screen and (max-width: 600px) {
  .mainNav a {display: none;}
  .mainNav a.icon{display: block;float: right;
  
  }
}

@media screen and (max-width: 600px){
  .mainNav.responsive {position: relative;}
  .mainNav.responsive .icon{position: absolute;
    top: 0;
    right: center;}

    .mainNav.responsive a {
      display: block;
      text-align: center; 
    }
}








